<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7x5Qfmb6EnZcG6HGLcEEuXtdV9vG3v9mK0t" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<body>
    <div class="container mt-4">
        <header>
            <h1>Hospital Management System</h1>
            <hr>
        </header>
        <%- body %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76A9YbG9fZ1sIto9f7pghdJlR1/2eRWaoxNpBxfgmHAK6f8bbeeU6yRZIM2c9E3" crossorigin="anonymous"></script>
</body>
</html>
